@import './../../../../assets/scss/utility';

$margin: $spacing-base;

.Form {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

.Row {
  margin: 0 0 1rem;

  &.limited {
    display: flex;
    flex-flow: row wrap;
    margin-left: -$margin / 2;
    margin-right: -$margin / 2;

    @include break(tablet) {
      flex-flow: row;
    }
  }
}

.Item {
  display: flex;
  flex-direction: column-reverse;

  .limited & {
    flex: 1;
    flex-basis: calc(100% / var(--count));
    padding: 0 $margin / 2;
  }

  button, a {
    align-self: flex-start;
    flex: 0 0 auto;
  }

  &:last-child:not(:only-child) {
    button, a {
      margin-left: auto;
    }
  }
}

.Label {
  color: var(--soft-color);
  font-weight: $fw-medium;
  line-height: 1;
  margin: 0 0 0.5em;
}

.Info {
  color: var(--soft-color);
  font-size: $fs-small;
  line-height: $lh-base-s;
  margin: 1em 0 0;
  max-width: 65%;
  order: -1;
}
