// color variables

$color-base:        #FFFFFF;
$color-light:       #F2F2F2;
$color-soft:        #9A9DAB;
$color-text:        #00192B;
$color-headlines:   #333333;

$color-border:      #E6E7ED;

$color-primary:         #0C1936;
$color-primary-inverse: #ffffff;

$color-error:       brickred;
$color-success:     #5DC765;
$color-info:        #385EFF;
$color-warning:     gold;
