.Icon {
  align-items: center;
  align-self: center;
  display: inline-flex;
  font-size: 1em;
  justify-content: center;
  height: 1em;
  width: 1em;


  &:not(:last-child) {
    margin-right: 0.75em;
  }

  svg {
    display: inline-block;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}
