@import './../../../../assets/scss/utility';

.Button {
  @include ButtonReset($border-radius);
  @include ButtonColor($color-button-bg, $color-button-text);
  font-weight: $fw-medium;
  font-size: $fs-base;
  line-height: 1;
  padding: 1em $spacing-large;
  transition: background 0.15s ease-out, box-shadow 0.15s ease-out;
  will-change: background, box-shadow;

  &.danger {
    @include ButtonColor($color-danger-button-bg, $color-danger-button-text);
  }

  &.secure {
    @include ButtonColor($color-secure-button-bg, $color-secure-button-text);
  }

  &.link,
  &.plain-link {
    all: initial;
    cursor: pointer;
    font: inherit;
    transition: color 0.15s ease-out;
  }

  &.link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }

  &.plain-link {
    color: var(--text-color);

    &:hover {
      color: $color-link;
    }
  }
}
