@import './../../../assets/scss/utility';

.Grid {
  display: grid;
  grid-template: auto / repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: $spacing-large;

  @include break(desktop) {
    grid-gap: $spacing-x-large;
  }
}
