@import './../../assets/scss/utility';

.Wrap {
  display: flex;
  min-height: 100vh;
}

%padding-container {
  padding: calc(#{$spacing-large} + 2vmin);
}

.Sidebar {
  @extend %padding-container;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  max-width: 27.5rem;
  height: 100vh;
  position: sticky;
  top: 0;

  @include break(hd) {
    flex: 0 0 columns(5);
    padding-left: columns(0.5);
    padding-right: columns(0.5);
  }
}

.Main {
  @extend %padding-container;
  flex: 1;
  position: relative;

  --bg-color: $color-base-soft;

  @include break(hd) {
    padding-left: columns(1);
    padding-right: columns(1);
  }
}

.Account {
  margin-top: -0.25em;
  position: absolute;
  right: columns(1);
}
