@import './../../../../assets/scss/utility';

%headline {
  line-height: $lh-small;
  margin: 0 0 1.125em;
}

h1, h2, .headline {
  @extend %headline;
  @include font-size($fs-x-large);
  color: $color-headlines;
  font-weight: $fw-normal;
}

h3, .subheadline {
  @extend %headline;
  @include font-size($fs-large);
  color: $color-text;
  font-weight: $fw-medium;
}

h4 {
  @extend %headline;
  font-size: $fs-medium;
  font-weight: $fw-medium;
}
