:root {
  // reusable colors for color-coded components
  --color: #{$color-button-bg};
  --color-text: #{$color-button-text};

  --bg-color: #{$color-base};
  --bg-soft-color: #F7F8FA;
  --text-color: #{$color-text};
  --soft-color: #{$color-soft};
  --success-color: #{$color-success};
  --border-color: #{$color-border};
}
