html {
  font-size: $fs-document-s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include break(tablet) {
    font-size: $fs-document;
  }
}

body {
  background: var(--bg-soft-color);
  color: var(--text-color);
  font: 400 normal 1rem / #{$lh-base} $ff-text;
}
