@mixin ButtonReset($border-radius: 0) {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  border-radius: $border-radius;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  user-select: none;
  text-decoration: none;
}

@mixin ButtonColor($background-color, $color) {
  // bg lighter than text
  @if $background-color > $color {
    background: $background-color;
    color: $color;

    &:hover, &:focus {
      background: lighten($background-color, 2.5%);
    }

    &:active {
      background: darken($background-color, 2.5%);
    }
  } @else {
    &:hover, &:focus {
      background: darken($background-color, 4%);
    }

    &:active {
      background: darken($background-color, 8%);
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($background-color, 0.5);
  }
}
