@import './../../../assets/scss/utility';

.Wrap {
  position: relative;
}

.Input {
  @include visually-hidden;
}

.IconCheckbox {
  align-items: center;
  background: transparent;
  border-radius: 1em;
  border: 1px solid;
  color: var(--color, #{$color-text});
  cursor: pointer;
  display: flex;
  flex: 0 0 1.5em;
  height: 1.5em;
  justify-content: center;
  margin-right: 0.5em;
  margin-top: -0.125em;
  position: relative;
  transition: 0.2s ease;
  width: 1.5em;

  :checked + .Label & {
    background: var(--color);
    border-color: var(--color);
    color: var(--color-inv);

    .checkmark & {
      background: var(--success-color);
      border-color: var(--success-color);
      color: var(--bg-color);
    }
  }
}

.Icon {
  height: 0.75em;
  position: absolute;
  width: 0.75em;
}

.Label {
  display: flex;
}

.Text {
  @include visually-hidden;
}
