@import './../../../assets/scss/utility';

.List {
  display: flex;
  list-style: none;
  flex-flow: row-reverse;
  margin: 0;
  padding: 0;
}

.Item {
  border-radius: 50%;
  font-size: $fs-base;
  height: 3rem;
  position: relative;
  width: 3rem;

  & + & {
    margin-right: -0.625rem
  }

  &.s {
    font-size: $fs-small;
    height: 2rem;
    width: 2rem;
  }
}
