@import './../../../assets/scss/utility';

%headline {
  line-height: $lh-small;
  margin: 0 0 0.5em;
}

h1 {
  @extend %headline;
}

h2 {
  @extend %headline;
  @include font-size($fs-x-large);
  color: $color-headlines;
  font-weight: $fw-normal;
  margin: 0 0 0.75em;
}

h3 {
  @extend %headline;
  @include font-size($fs-large);
  color: $color-text;
  font-weight: $fw-medium;
  margin: 0 0 0.85em;
}

h4 {
  @extend %headline;
  font-size: $fs-medium;
  font-weight: $fw-medium;
}
