@import './../../../assets/scss/utility';

.Wrap {
  align-items: baseline;
  display: flex;
  @include font-size($fs-large * 0.8);
  line-height: 1;
  margin: 0;
}

.Amount {
  color: $color-headlines;
  min-width: 4em;
  padding-right: 1.5em;
}

.Name {
  font-size: 1rem;
  font-weight: $fw-normal;
}
