@import './../../../assets/scss/utility';

.Message {
  color: var(--soft-color);
  font-size: 1rem;
  margin: 0;

  &:only-child {
    margin: auto 0;
  }

  & + & {
    margin: 1rem 0 0;
  }


  &.s {
    font-size: $fs-small;
  }

  &.danger {
    color: var(--danger-color);
  }
}
