.card {
  background: $color-base;
  border-radius: $border-radius;
  padding: 3rem 6rem 3rem 4rem;
  position: relative;


  & + & {
    margin-top: 1.25rem;
  }

  p:not([class]) {
    color: $color-soft;

    &:last-of-type {
      margin: 0 0 1.5rem;
    }
  }

  &.-elevated {
    border-radius: $border-radius;
    box-shadow: 0 0.625em 3em -0.5em rgba($color-text, 0.15),
      0 0.2em 0.5em -0.01em rgba($color-text, 0.1);
  }

  &.-small {
    padding: 2rem;
  }


  &__header {
    overflow: hidden;
    position: static;

    > :last-child {
      margin-bottom: 1.5rem;
    }

    &::after {
      position: absolute;
      border-bottom: 1px solid $color-border;
      left: 0;
      right: 0;
      content: "";
    }
  }
}
