@import './../../../../assets/scss/utility';

.Input {
  -webkit-appearance: none;
  background: $color-input-bg;
  border: 0;
  border-radius: $border-radius;
  font: inherit;
  font-size: $fs-text;
  outline: 0;
  padding: 0.58rem 0.75rem;
  transition: background 0.15s ease;
  width: 100%;

  &:focus {
    background: $color-input-bg-focus;
  }

  &::placeholder {
    color: var(--soft-color);
  }

  &.large {
    @include font-size($fs-large);
    font-weight: $fw-medium;
  }
}


.Wrap {
  $icon-size: 1.25rem;
  $icon-space: 1rem;

  position: relative;

  .Icon {
    align-items: center;
    color: var(--soft-color);
    display: flex;
    height: $icon-size;
    justify-content: center;
    left: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $icon-size;

    svg {
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .Input {
    padding-left: $icon-size + $icon-space * 2;
  }
}
