@import './../../../../assets/scss/utility';

.Input {
  -webkit-appearance: none;
  background: $color-input-bg;
  border: 0;
  border-radius: $border-radius;
  font: inherit;
  font-size: $fs-text;
  font-weight: $fw-medium;
  outline: 0;
  padding: 0.58rem 0.75rem;
  transition: background 0.15s ease;
  width: 100%;

  &:focus {
    background: $color-input-bg-focus;
  }

  &::placeholder {
    color: var(--soft-color);
  }

  &.large {
    @include font-size($fs-large);
  }
}
